{% extends 'base.html' %}

{% block conteudo %}
    <h2>Lista de livros</h2>
    <table>
        {% for livro in livros %}
        <tr>
            <td>{{ livro.titulo }} - {{ livro.autor }}  ({{ livro.ano }}) <span class="editar-apagar"> <a href="{{url_for('editar', id=livro.id)}}"><i style="color: rgb(2, 77, 2);" class="fa-regular fa-pen-to-square"></i></a>   <a href="{{url_for('apagar', id=livro.id)}}"><i style="color: darkred;" class="fa-solid fa-trash"></i></a> </span>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}